<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/application.css}">
    <title>Taming Thymeleaf</title>
</head>
<body>
<h1 th:text="#{dashboard.title}"></h1>
<h1 th:text="${pageTitle}"> Thymeleaf</h1>
<div>
    <ul th:id="|container-${pageTitle}|">
        <li th:each="scientist : ${scientists}">
            <span th:text="${scientist}"></span>
        </li>
    </ul>
</div>
</body>
</html>
